.HomeFactory {
  position: relative;
  text-align: center;
  z-index: -1;
  height: 900px;
}

#front {
  max-height: 100%;
  width: 100%;
}

.slogan {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 80px;
}



.factory {
  display: flex;
  flex-direction: row;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  border: outset;
}